<div class="panel panel-default" style="margin: 1%;">
  <div class="panel-heading">
    <h3>{{contact.name}}</h3>
    <div class="row" style="padding: 20px;">
      <img class=" " [src]="contact?.imageUrl">
      <div class="flex-col pull-right">
        <a class="btn btn-primary ">Edit</a>
        <a class="btn btn-danger ">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong> {{contact.email}}</p>
    <p><strong>Phone:</strong> {{contact.phone}}</p>
  </div>
</div>
